In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Load data
titles = pd.read_csv('./data_unzipped/netflix_titles.csv')
subscribers = pd.read_csv('./netflix_sub_count.csv')

# Convert date_added to datetime
titles['date_added'] = pd.to_datetime(titles['date_added'])

# Create separate dataframes for movies and tv shows
movies = titles[titles['type'] == 'Movie'].copy()
tv_shows = titles[titles['type'] == 'TV Show'].copy()

# Fix rows where duration was input to rating
movies.loc[5541, 'duration'] = movies.loc[5541, 'rating']
movies.loc[5794, 'duration'] = movies.loc[5794, 'rating']
movies.loc[5813, 'duration'] = movies.loc[5813, 'rating']

# Fix NA ratings by googling the title
movies.loc[5541, 'rating'] = 'TV-MA'
movies.loc[5794, 'rating'] = 'TV-MA'
movies.loc[5813, 'rating'] = 'TV-MA'
movies.loc[7537, 'rating'] = 'PG-13'
movies.loc[5989, 'rating'] = 'TV-PG'
tv_shows.loc[7312, 'rating'] = 'TV-G'
tv_shows.loc[6827, 'rating'] = 'TV-14'

# Create a new column in each dataframe to better house duration
tv_shows['num_seasons'] = tv_shows['duration'].str.extract('(\d+)').astype(int)
movies['num_minutes'] = movies['duration'].str.extract('(\d+)').astype(int)

# Random data fixes
movies.loc[4653, 'country'] = 'United States'

In [3]:
# Create lists of unqiue values from director, cast, country, and listed_in, as well as their frequency
movie_directors = movies['director'].str.split(', ').explode().value_counts().reset_index()
movie_directors.columns = ['director', 'count']

movie_cast = movies['cast'].str.split(', ').explode().value_counts().reset_index()
movie_cast.columns = ['cast', 'count']

movie_countries = movies['country'].str.split(', ').explode().value_counts().reset_index()
movie_countries.columns = ['country', 'count']

movie_genres = movies['listed_in'].str.split(', ').explode().value_counts().reset_index()
movie_genres.columns = ['genre', 'count']

In [4]:
# Now do the same for tv shows
tv_directors = tv_shows['director'].str.split(', ').explode().value_counts().reset_index()
tv_directors.columns = ['director', 'count']

tv_cast = tv_shows['cast'].str.split(', ').explode().value_counts().reset_index()
tv_cast.columns = ['cast', 'count']

tv_countries = tv_shows['country'].str.split(', ').explode().value_counts().reset_index()
tv_countries.columns = ['country', 'count']

tv_genres = tv_shows['listed_in'].str.split(', ').explode().value_counts().reset_index()
tv_genres.columns = ['genre', 'count']

In [5]:
def director_criteria(directors, all_directors, threshold):
    if pd.isna(directors):
        return 0
    for director in directors.split(', '):
        if all_directors[all_directors['director'] == director]['count'].values[0] > threshold:
            return 1
    return 0

def cast_criteria(casts, all_casts, threshold):
    if pd.isna(casts):
        return 0
    for cast in casts.split(', '):
        if all_casts[all_casts['cast'] == cast]['count'].values[0] > threshold:
            return 1
    return 0

movies['director_2'] = movies['director'].apply(lambda x: director_criteria(x, movie_directors, 1))
movies['director_5'] = movies['director'].apply(lambda x: director_criteria(x, movie_directors, 4))

movies['cast_2'] = movies['cast'].apply(lambda x: cast_criteria(x, movie_cast, 1))
movies['cast_6'] = movies['cast'].apply(lambda x: cast_criteria(x, movie_cast, 5))
movies['cast_12'] = movies['cast'].apply(lambda x: cast_criteria(x, movie_cast, 11))
tv_shows['cast_2'] = tv_shows['cast'].apply(lambda x: cast_criteria(x, tv_cast, 1))
tv_shows['cast_5'] = tv_shows['cast'].apply(lambda x: cast_criteria(x, tv_cast, 4))

In [6]:
for genre in movie_genres['genre']:
    movies[genre] = movies['listed_in'].apply(lambda x: int(genre in x.split(', ')))

for genre in tv_genres['genre']:
    tv_shows[genre] = tv_shows['listed_in'].apply(lambda x: int(genre in x.split(', ')))

In [7]:
def country_criteria(country, countries):
    if pd.isna(countries):
        return 0
    if country in countries.split(', '):
        return 1
    return 0

countries = [
    'United States',
    'India',
    'United Kingdom',
    'Canada',
    'France',
    'Germany',
    'Spain',
    'Japan',
    'China',
    'Mexico',
    'South Korea',
    'Taiwan',
    'Australia'
    ]

for country in countries:
    movies[country] = movies['country'].apply(lambda x: country_criteria(country, x))
    tv_shows[country] = tv_shows['country'].apply(lambda x: country_criteria(country, x))

In [8]:
movies['Quarter'] = movies['date_added'].dt.year.astype(str) + 'Q' + movies['date_added'].dt.quarter.astype(str)
tv_shows['Quarter'] = tv_shows['date_added'].dt.year.astype(str) + 'Q' + tv_shows['date_added'].dt.quarter.astype(str)

In [9]:
# create new movies df with only the quarter column and binary columns
movies_q = movies[['Quarter', 'director_2', 'director_5', 'cast_2', 'cast_6', 'cast_12', 'num_minutes'] + list(movie_genres['genre']) + countries].copy()
shows_q = tv_shows[['Quarter', 'cast_2', 'cast_5', 'num_seasons'] + list(tv_genres['genre']) + countries].copy()
# summarise by quarter
movies_q.groupby('Quarter').sum().join(shows_q.groupby('Quarter').sum(), lsuffix='_movies', rsuffix='_shows')

,director_2,director_5,cast_2_movies,cast_6,cast_12,num_minutes,International Movies,Dramas,Comedies,Documentaries,...,Canada_shows,France_shows,Germany_shows,Spain_shows,Japan_shows,China_shows,Mexico_shows,South Korea_shows,Taiwan_shows,Australia_shows
Quarter,,,,,,,,,,,,,,,,,,,,,
2008Q1,0,0,0,0,0,81,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009Q2,0,0,1,0,0,104,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009Q4,1,0,1,1,0,29,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010Q4,0,0,0,0,0,84,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011Q2,0,0,1,1,0,103,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011Q3,0,0,1,1,0,75,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011Q4,0,0,11,3,0,1037,0,11,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012Q1,0,0,1,1,0,76,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012Q4,1,0,2,2,2,110,0,0,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013Q3,1,1,1,1,0,75,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013Q4,1,0,4,2,0,426,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014Q1,2,0,2,1,1,270,1,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014Q2,1,0,1,1,0,113,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014Q3,3,0,1,1,0,274,0,0,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014Q4,8,3,8,6,2,806,1,0,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015Q1,1,0,3,1,0,501,1,0,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015Q2,5,2,7,2,0,907,1,2,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015Q3,8,2,12,6,3,1166,2,3,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015Q4,9,2,23,15,7,2106,6,7,8,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016Q1,13,6,33,14,4,2651,7,5,11,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016Q2,18,4,19,11,2,3109,13,6,8,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016Q3,22,7,42,24,2,5937,20,15,9,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016Q4,37,9,81,39,16,9440,42,39,20,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017Q1,75,18,153,83,38,19248,107,79,42,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017Q2,82,18,139,89,32,18521,89,74,38,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017Q3,78,31,157,94,30,19653,85,65,45,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017Q4,92,34,179,118,53,22832,114,75,52,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018Q1,124,40,235,156,66,31300,160,128,56,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018Q2,74,23,159,96,23,19793,92,82,44,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018Q3,165,39,289,162,63,34634,205,154,101,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018Q4,177,53,335,205,89,40125,211,167,96,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019Q1,153,46,278,172,56,33953,155,161,89,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019Q2,139,32,266,166,64,32320,153,119,100,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019Q3,134,30,214,142,51,25852,102,83,69,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019Q4,223,59,414,299,158,50166,200,201,162,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020Q1,140,28,280,178,67,31976,92,122,98,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020Q2,178,51,312,176,79,37064,202,164,124,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020Q3,123,30,253,171,79,30485,148,125,96,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020Q4,146,39,280,166,64,30911,133,124,98,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021Q1,92,19,204,123,46,24262,94,109,77,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021Q2,158,50,296,193,73,35767,159,151,104,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021Q3,199,61,355,264,134,42091,155,152,118,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# how many unique ratings
tv_shows['rating'].nunique()

9